---
// src/layouts/SiteLayout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/chango';
---

<html lang="en">
    <head>
       <Header title = "Degenerate Games"/>
    <body class="bg-slate-300 flex flex-col min-h-screen">
        <slot />
        <Footer />
    </body>
</html>