---
// src/pages/index.astro
import SiteLayouts from '../layouts/SiteLayouts.astro';
---

<SiteLayouts>
    <div class="flex gap-5 m-5 justify-center">
        <div class="block rounded-2xl bg-gray-700 p-6 drop-shadow-sm">
            <!-- <h4 class="mb-2 text-center text-xl font-medium leading-tight text-neutral-50 dark:text-neutral-50 uppercase">Our Mission</h4> -->
            <img class="h-auto max-w-lg transition-all duration-300 rounded-2xl cursor-pointer" src="img/monkey.jpg" alt="monkey" />
            <!-- <p class="mb-4 text-base text-neutral-50 dark:text-neutral-50 flex item-center justify-center text-ellipsis">Commited to creating the best games for everyone 
                of all ages. We continue to strive to keep everyone happy with uniquely made iOS, iPadOS, & MacOS apps.
            </p> -->
        </div>
    </div>
</SiteLayouts>