---
// src/pages/index.astro
import SiteLayouts from '../layouts/SiteLayouts.astro';
---

<SiteLayouts class="bg-slate-400 flex flex-col min-h-screen">
    <div class="flex gap-5 m-5 justify-center">
        <div class="block rounded-2xl bg-slate-400 p-6 drop-shadow-sm">
            <!-- <h4 class="mb-2 text-center text-xl font-medium leading-tight text-neutral-50 dark:text-neutral-50 uppercase">Our Mission</h4> -->
            <img class="h-auto max-w-lg transition-all duration-300 rounded-2xl cursor-pointer" src="img/monkey.jpg" alt="monkey" />
            <!-- <p class="mb-4 text-base text-neutral-50 dark:text-neutral-50 flex item-center justify-center text-ellipsis">Commited to creating the best games for everyone 
                of all ages. We continue to strive to keep everyone happy with uniquely made iOS, iPadOS, & MacOS apps.
            </p> -->
        </div>
    </div>
    <div>
        <div>
            <h3 class="text-3xl text-center text-gray-700 font-bold" id="projects">Projects</h3>
        </div>
    <div class="flex gap-5 m-5 justify-center">
        <div class="block rounded-2xl bg-slate-400 p-6 drop-shadow-sm">
            <h4 class="text-gray-700 text-center text-lg m-6">Goth Girl</h4>
            <img class="h-auto max-w-xs transition-all duration-300 rounded-2xl" src="img/gothgirl.jpeg" alt="goth girl" />
            <p class="text-gray-700 text-center m-2">Goth girl is out for revenge.</p>
        </div>
        <div class="block rounded-2xl bg-slate-400 p-6 drop-shadow-sm">
            <h4 class="text-gray-700 text-center text-lg m-6">Monkey Army</h4>
            <img class="h-auto max-w-lg transition-all duration-300 rounded-2xl" src="img/monkeyarmy.png" alt="monkey army" />
            <p class="text-gray-700 text-center m-8">The monkey army is out on the hunt. Recruting more people to convert
                into monkey so they can join their crazy monkey army.
            </p>
        </div>
        <div class="block rounded-2xl bg-slate-400 p-6 drop-shadow-sm">
            <h4 class="text-gray-700 text-center text-lg m-6">Last Dragon</h4>
            <img class="h-auto max-w-lg transiton-all duration-300 rounded-2xl" src="img/dragon.jpg" alt="dragon" />
            <p class="text-gray-700 text-center m-8">The love story of a prince turned dragon and a lovely princess. Set out to find a cure to turn him to
                to the hansome prince he once was.
            </p>
        </div>
    </div>
    </div>
</SiteLayouts>